name: textlint

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: "[INFO] Versions"
        run: |
          echo "node: `node --version`"
          echo "npm:  v`npm --version`"
          echo "yarn: v`yarn --version`"

      - name: Install packages
        run: npm install

      - name: Lint
        run: npm run textlint
